$violet: rgb(84, 21, 84);
$accent-violet: rgb(65, 22, 66);
$white: rgb(255, 255, 255);
$yellow: rgb(236, 176, 47);
$blue: rgb(10, 126, 255);
$light-blue: rgb(55, 193, 236);
$accent-blue: rgb(9, 76, 139);
$grey: rgb(101, 100, 101);


$grey-violet: rgb(25, 23, 29);
$black-violet: rgb(19, 16, 23);
$black-grey: rgb(27, 29, 33);


$font-color: rgb(209, 210, 211);
$icon-color: rgb(98, 97, 102);