@import "/Users/nicoledoromal/AvionSchool/slack-app/src/assets/scss/partials/_styles.scss";

.landing-page {
  background-color: $violet;
  width: 100vw;
  height: 100vw;
  color: $white;
  position: relative;

  .header {
    display: flex;
    align-items: center;
    height: 80px;

    margin-left: 100px;
    margin-right: 100px;
    img {
      width: 120px;
    }

    nav {
      margin-left: auto;
      font-weight: 600;

      .sign-in-button {
        cursor: pointer;
        padding: 5px 0px;
        border-bottom: 1px solid transparent;
        font-family: "Poppins", sans-serif;

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  body {
    margin-left: 100px;
    display: flex;
    align-items: center;
    height: 50%;
    position: relative;

    .body-text {
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      height: 100%;
      h1 {
        font-size: 4em;
        margin-top: 100px;
        span {
          color: $yellow;
        }
      }

      .subtitle {
        font-size: 1.15em;
        line-height: 1.3em;
        font-family: "Poppins", sans-serif;
      }

      button {
        margin-top: 150px;
        padding: 20px 35px;
        border-radius: 5px;
        color: $violet;
        font-weight: 700;
        width: max-content;
        letter-spacing: 0.1em;
        border: 1px solid transparent;
        cursor: pointer;
        transition: 300ms ease;

        &:hover {
          border: 1px solid $violet;
        }
      }

      .slack-is-free {
        font-size: 1em;
        margin-top: 15px;

        font-family: "Poppins", sans-serif;
        span {
          font-weight: 700;
        }
      }
    }

    img {
      width: 650px;
      margin-right: 20px;
    }
  }
}
