@import "/Users/nicoledoromal/AvionSchool/slack-app/src/assets/scss/_styles.scss";

.dashboard-page {
    position: relative;
    display: flex;
    color: $font-color;

    .dashboard-body {
        display: flex;
    }
}



