@import "/Users/nicoledoromal/AvionSchool/slack-app/src/assets/scss/_styles.scss";
@import "/Users/nicoledoromal/AvionSchool/slack-app/src/assets/scss/_keyframes.scss";

.header-part {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $black-violet;
  box-shadow: 2px 2px 2px rgb(194, 192, 192, 0.1);
  position: fixed;
  width: 100vw;
  height: 50px;
  z-index: 1;

  img {
    border-radius: 10px;
    cursor: pointer;
  }

  .img-logo {
    padding: 7px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    animation: rotate-back-logo 1000ms forwards;

    &:hover {
      animation: rotate-logo 3000ms infinite;
    }
  }

  .img-avatar {
    width: 40px;
    height: 40px;
    margin-left: auto;
    margin-right: 10px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $grey;
    }
  }
}
