@import "/Users/nicoledoromal/AvionSchool/slack-app/src/assets/scss/_styles.scss";

.message-group-component {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgba($font-color, 0.7);
  cursor: pointer;

  &:hover {
    color: $font-color;
  }

  &:hover > .settings-container {
    visibility: visible;
  }
  
.caret-icon {
  transition: 300ms ease;
}
.rotate-icon {
  transform: rotate(90deg);
  color: $font-color;
}
  .message-group-span {
    font-weight: 500;
  }

  .active {
    color: $font-color;

  }
  .settings-container {
    display: flex;
    margin-left: auto;
    visibility: hidden;
  }
}
